[Desktop Entry]
Version=1.0
Type=Application
Name=Chili Wifi Config
GenericName=Chili Wifi Config Util
Comment=Utilitário para configurar wifi
Exec=chili-wifi-config
TyrExec=/usr/bin/chili-wifi-config
Terminal=true
MimeType=text/plain;
Icon=network-wireless
Categories=DesktopSettings;Utility;Accessories;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;Chili Apps;
StartupNotify=true
Actions=Window;Document;
Hidden=false
