[Desktop Entry]
Version=1.0
Type=Application
Name=Chili Util Selector
GenericName=Chili Util Selector
Comment=Utility to select utils
Exec=chili-util-selector
Terminal=true
MimeType=text/plain;
Icon=drive-multidisk
Categories=DesktopSettings;Utility;Accessories;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;Chili Apps;
StartupNotify=true
Actions=Window;Document;
Hidden=false
