[Desktop Entry]
Version=1.0
Type=Application
Name=Chili DateTime
GenericName=Chili DateTime Util
Comment=Aplicativo para sincronizarAplicativo para sincronizar de data e hora de data e hora
Exec=chili-getdatetime
Icon=time
Terminal=false
MimeType=text/plain;
Categories=Settings;DesktopSettigns;Utility;Accessories;Chili Apps;
StartupNotify=true
